@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+SA:wght@100..400&display=swap');
/* Default navbar styles */
.custom-navbar {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  height: auto; /* Default height */
  width: 100%;
}
/* Show navbar when scrolling up */
.show-navbar {
  transform: translateY(0);
  opacity: 1;
}

/* Hide navbar when scrolling down */
.hide-navbar {
  transform: translateY(-100%);
  opacity: 0;
}
.btn{
  font-family: "Nunito", serif;
}
#LP {
  background:  rgba(255, 255, 255, 0.9);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn2{
  color: rgb(255, 255, 255);
  font-family: "Nunito", serif;
  background-color: rgb(67, 67, 253);
  padding: 10px;
  border-radius: 15px;
}
.btn2:hover{
  background-color: rgb(158, 158, 253);
}

#MAIN1 {
  background-image: url(assets/image3.jpg);
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
#MAIN2 {
  background-image: url(assets/charity.jpg);
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
#LP2 {
  background:  rgba(67, 67, 253, 0.9);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc{
  font-family: "Nunito", serif;
}
.support-btn{
  padding: 25px;
  border-radius: 35px;
  background-color: rgb(67, 67, 253);
  font-weight: bold;
  font-family: "Nunito", serif;
  transition: 0.5s;
  color: white;
}
.support-btn2{
  padding: 16px;
  border-radius: 35px;
  background-color: rgb(67, 67, 253);
  font-weight: bold;
  font-family: "Nunito", serif;
  transition: 0.5s;
  color: white;
}
.support-btn3{
  padding: 16px;
  border-radius: 35px;
  background-color:white ;
  font-weight: bold;
  font-family: "Nunito", serif;
  transition: 0.5s;
  color: rgb(67, 67, 253);
}

.support-btn:hover, .support-btn2:hover, .support-btn3:hover{
  background-color:rgb(158, 158, 253);
  transition: 0.5s;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: fit-content;

}

.project-img{
  width: 300px;
}
.mission-img{
  width: 500px;
  border-radius: 50px;
}
.project-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) ;
    height: 100vh;
}

.cards{
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}


.vertical-line {
  width: 2px;
  height: 55vh;
  background-color: rgb(228, 228, 228);
}

.circle {
  width: 15px;
  height: 15px;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  margin-top: -5px; /* Adjust to overlap slightly with the line */
}

.vertical-line2 {
  width: 2px;
  height: 10vh;
  background-color: rgb(228, 228, 228);
}
.contacts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 30px;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) ;
  height: 50vh;
}
#email-input{
  border-radius: 20px;
  width: 80%;
  border: 1px solid gray;
  padding: 7px;
}
.subscribe-button{
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 7px;
  background-color: rgb(67, 67, 253);
  width: 80%;
  transition: 0.5s;
}
.subscribe-button:hover{
  background-color: rgb(158, 158, 253);
  transition: 0.5s;
}
.Home-img:hover{
  scale: 1.04;
  transition: 0.4s;
}
.Home-img{
  transition: 0.4s;
  cursor: pointer;
}
#menu{
  display: none;
}

.sidebarOn {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0); /* Sidebar slides in */
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s ease, opacity 1s ease, visibility 1s ease; /* Smooth transition */
  gap: 10px;
}

/* Sidebar closed state */
.sidebarOff {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%); /* Sidebar slides out */
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 1s ease, visibility 1s ease; /* Smooth transition */
  gap: 10px;
}
#donation-container{
  height: 120vh;
}
@media (max-width:768px){
    .custom-navbar{
      height: 10px !important;
      min-height: 0 !important; /* Reset any min-height */
      padding: 0; /* Ensure no padding interferes */
      width: 100%;
    }
    #donation-container{
      flex-direction: column !important;
      height: fit-content;
      margin-top: 150px;
      
    }
    .doncont{
      width: 100%;
    }
    .donation-box{
      display: flex !important;
      flex-direction: column !important;
    }
    .nav-links{
      display: none;
    }
    .socials{
      display: none;
    }
    .sp2{
      display: none;
    }
    #hero-section{
      margin-top: 20px;
      flex-direction: column !important;
      height: fit-content;
    }
    .home-desc{
      width: 100%;
    }
    .project-container{
      display: flex;
      flex-direction: column;
    }
    #abd{
      display: flex;
      flex-direction: column !important;
      height: fit-content;
    }
    .abd-desc{
      width: 100%;
      height: fit-content;
    }
    .support-btn{
      font-size: 12px;
    }
    #LP{
      height: fit-content;
    }
    #mission{
      display: flex;
      flex-direction: column !important;
      height: fit-content;
    }
    .vertical-line{
      display: none;
    }
    #MAIN2{
      
      height: fit-content;
    }
    #LP2{
      height: fit-content;
      padding: 20px;
    }
    #projects{
      height: fit-content;
    }
    .circle{
      display: none;
    }
    .text2{
      font-size: 20px;
      text-align: center;
    }
    #menu{
      display: block;
    }
    #location-img{
      display: none;
    }
    #logo{
      width: 50px;
    }
    .home-desc{
      font-size: 18px;
    }
    .title{
      font-size: 20px;
    }
    .contacts{
      display: flex;
      flex-direction: column;
      height: fit-content;
    }
    .Home-img{
      width: 300px;
    }
   
}
.donation-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  gap: 20px;
}
.don-btn{
  border: 1px black solid;
  padding: 20px;
  border-radius: 25px;
  transition: 0.6s;
  width: 200px;
}
.don-btn:hover{
  background-color: rgb(158, 158, 253);
  transition: 0.6s;
}
.don-input{
  border: 1px black solid;
  padding: 20px;
  border-radius: 25px;
  transition: 0.6s;
  width: 200px;
}